.display-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.itens-por-pagina{
    width: 180px;
}
.pageNumber{
    list-style: none;
    display: flex;
    flex-direction: row;
    font: 700 16px/23px "Ubuntu", sans-serif;
    cursor: pointer;
}

.pageNumber li{
    background-color: #ff4040;
    margin-right: 5px;
    padding: 16px 20px;
    color: #faf9f9;
}

@media (max-width: 575.98px) {
    .pageNumber{
        padding: 0;
        overflow: hidden;
    }
    .tirar{
        width: 100vw;
    }
    .pageNumber li{
        padding: 10px 14px;
    }
    .display-flex-row{
        justify-content: center;
    }
    .display-none{
        display: none;
    }
  }