.card-pokemon{
    width:300px;
    margin-right: 28px;
    margin-bottom: 15px;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-img-pokemon{
    background-color: #f8f8f8;
    width: 100%;
}
.title{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: rgb(102, 102, 102);
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom:0; 
}

.preco{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: rgb(51, 51, 51);
    font-size: 16px;
    margin-top:0; 
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ff4040;
    color: white;
    
    height: 55px;
    font-weight: bold;
    align-self: normal;
    cursor: pointer;
}

.pagination{
    display: flex;
    justify-content: center;
    align-self: flex-end;
}

.content-pokemon{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.pokemon-img{
    margin:0 auto 0 auto;
    width:270px;
    height:270px;
}