body{
    margin:0;
    padding: 0;
    
}
.header{
    grid-area: header;
    -webkit-box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
    grid-column-start: 1;
    grid-column-end: 5; 
    min-height: 8vh;
  }

  .serchBar{
    grid-area: serchBar;
    grid-column-start: 2;
    grid-column-end: 4; 
  }
  
  .main{
    grid-area: main;
    grid-column-start: 2;
    grid-column-end: 3; 
    margin-top:10px;
    min-height: 85vh;
    min-height: -webkit-calc(85vh - 50px);
    min-height: -moz-calc(85vh - 50px);
    min-height:  calc(85vh - 50px);
    
  }

  .sideBar{
    grid-area: sidebar;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top:10px; 
  }

  .footer{
    grid-area: footer;  
    display: flex;
    height: 50px;
  }
.container {
    display: grid;
    grid-template-columns: 2vw 70vw auto 2vw;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "serchBar serchBar serchBar serchBar"
    "main main sidebar sidebar"
    "footer footer footer footer";
  }


  .itens-menu{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: -20px
      
    }
    .itens-menu a {
        text-decoration: none;
        color:white;
        font-size: 1.2em;
        font-weight: bold;
        padding: 3px;
    }

    
    
  
  