.content-footer{
    background: linear-gradient(86deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 0%, rgba(250,72,72,1) 50%, rgba(252,73,80,1) 100%);
    color: white;
    width:100%;
    text-align: center;
    font-weight: bold;
}